/* CSS Reset */
* {
    margin: 0 auto;
    padding: 0;
}

/* Page body */
body {
    background-color: black;
}

/* Header */
.header {
    margin: 20px 0px;
    font-family: sans-serif;
    color: red;
}

/* Counters */
.gold_counter,
.moves_counter {
    color: teal;
}

/* Gold Descripition */
.gold_parameters {
    font-family: sans-serif;
}

/* Cards */
.cards {
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    background-color: gray;
    border: 2px solid black;
}

/* Find gold buttons */
.find_gold_btns{
    font-size: large;
    padding: 5px;
    background-color: rebeccapurple;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    font-family: sans-serif;
}

/* Play again button */
.btn {
    font-size: larger;
    margin-top: 20px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

/* Activites header */
h4 {
    margin: 10px 0px;
    color: teal;
}

/* Activity response box */
.activity {
    height: 200px;
    overflow-y: scroll;
    background-color: white;
    border: 2px solid gray;
}

/* Displays green text in activity log */
.won {
    font-size: x-large;
    color: teal;
}

/* Displays red text in activity log */
.lost {
    font-size: x-large;
    color: red;
}